body {
    font-family: 俐方體11號;
}

.nav {
    width: 400px;
    height: 1080px;
    background-color: #B5884C;
    position: fixed;
    right: -400px;
}

.ext {
    position: absolute;
    right: 60px;
    top: 60px;
}

.ext>img {
    width: 52px;
}

.menu {
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-top: 346px;
}

.menu>h3 {
    margin-bottom: 40px;
}

.contact {
    width: 274px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 290px auto 0 auto;
}

.icon {
    width: 52px;
    height: 52px;
    display: flex;
    align-content: center;
}

.firstScreen {
    width: 100%;
    height: 1300px;
    background-color: #EADCBF;
}

.aboutUs {
    position: absolute;
    width: 100%;
    height: 1300px;
    background-image: url(../素材/aboutUs.png);
}

.bar {
    position: absolute;
    right: 60px;
    top: 60px;
}
.bar>img{
    width: 52px;
}

.firstScreen>.title {
    font-size: 96px;
    color: #554C3F;
    text-align: center;
    position: relative;
    top: 540px;
    transform: translateY(-96px);
}