img {
    width: 100%;
    height: auto;
}

body {
    font-family: 俐方體11號;
    font-size: 20px;
    background-color: #EADCBF;
}

.nav {
    width: 400px;
    height: 1080px;
    background-color: #B5884C;
    position: fixed;
    right: 0;
    right: -400px;
}

.ext {
    position: absolute;
    right: 60px;
    top: 60px;
}

.ext>img {
    width: 52px;
}

.menu {
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-top: 346px;
}

.menu>h3 {
    margin-bottom: 40px;
}

.contact {
    width: 274px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 200px auto 0 auto;
}

.icon {
    width: 52px;
    height: 52px;
    display: flex;
    align-content: center;
}

.firstScreen {
    width: 100%;
    height: 1300px;
}

.aboutUs {
    position: absolute;
    width: 100%;
    height: 1300px;
    background-image: url(../素材/aboutUs.png);
}

.bar {
    position: absolute;
    right: 60px;
    top: 60px;
}

.bar>img {
    width: 52px;
}

.firstScreen>.title {
    font-size: 96px;
    color: #554C3F;
    text-align: center;
    position: relative;
    top: 540px;
    transform: translateY(-96px);
}

/* info */
.about {
    display: flex;
    justify-content: center;
}

.character {
    margin: 0 auto;
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 300px;
    height: 240px;
    transform: rotate(-4deg);
    position: relative;
    top: 80px;
    margin: 0 40px;
    /* left: 244px; */
}

.CEN{
    align-self: flex-end;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 200px;
}

.bigPicture {
    background-color: #C0CA71;
    border-radius: 44px 44px 0 0;
    /* top: 200px; */
    /* left: 50%;
    transform: translateX(-50%); */
}

.mainPicture {
    width: 440px;
    position: relative;
    bottom: -5px;
}

.progressBar {
    width: 440px;
    height: 4px;
    background-color: #755E3C;
    /* position: relative;
    top: 260px; */
    /* left: 50%;
    transform: translateX(-50%); */
}

.progressBar::after {
    content: "“CLICK”";
    line-height: 48px;
    margin-left: 186px;
}

.name>span {
    font-size: 96px;
}

.name {
    width: 400px;
    height: 100px;
    font-size: 64px;
    /* border-bottom: 8px solid #755E3C; */
    margin-top: 280px;
}
.name:after{
    content: "";
    display: block;
    width: 400px;
    height: 8px;
    background-color: #755E3C;
}

.info{
    width: 80%;
    position: relative;
}

.firstLeft{
    margin-top: 360px;
}

.attributes{
    margin-top: 12px;
}
.attributes {
    width: 380px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.ATTR {
    line-height: 48px;
    text-align: center;
    display: flex;
}

.type {
    width: 100px;
    height: 48px;
    background-color: #B5884C;
    border: 1px solid #000;
    border-radius: 10px 0 0 10px;
    line-height: 48px;
    text-align: center;
}

.level {
    width: 64px;
    height: 48px;
    background-color: rgba(253, 253, 253, 0.6);
    border: 1px solid #000;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    font-size: 24px;
}

.mid {
    font-size: 24px;
    color: #765C42;
    margin-top: 28px;
}

.mid:after {
    content: "";
    line-height: 24px;
    margin-left: 4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #765C42;
    display: inline-block;
}

.small {
    margin-top: 12px;
    color: #412F2B;
}

.secondLeft{
    margin-top: 360px;
    display: none;
}

.firstRight{
    margin-right: 20px;
    position: absolute;
    top: 432px;
    right: 0;
    width: 380px;
    display: flex;
    justify-content: space-between;

}

.skills{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: #B5884C;
}